<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/template/template.xhtml">

		<h:form id="form">
			<b>Connexion</b>
			<h:panelGrid columns="2">
				<h:outputText value="Login" />
				<h:inputText value="#{employeController.login}" />
				<h:outputText value="Mot de passe" />
				<h:inputSecret value="#{employeController.password}" />
				<h:commandButton id="btn" value="Connexion" action="#{employeController.dologin}" />
			<h:message for="btn"/>
			</h:panelGrid>
		</h:form>


</html>