<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/template/template.xhtml">

<h:panelGroup>
	<h:form>
		<h:outputText value="Bonjour #{employeController.login}" />

		<h:commandLink value="Déconnexion"
			action="#{employeController.doLogout()}" />
	</h:form>
</h:panelGroup>

</html>

